1. csv 다운파일 분석

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [3]:
#csv파일의 내용을 읽어서 데이터프레임으로 변환
df = pd.read_csv('aed.csv', encoding='euc-kr', index_col='NO')
df

,설치장소,전화번호,도로명주소,지번주소
NO,,,,
1,(재)서울기독교청년회,02-738-7799,서울특별시 종로구 종로 69,서울특별시 종로구 종로2가 9 서울 YMCA
2,(주)동아서울시네마,02-745-4231,서울특별시 종로구 삼일대로 428 (낙원동),서울특별시 종로구 낙원동 288 낙원상가
3,(주)동아서울시네마,02-745-4231,서울특별시 종로구 삼일대로 428 (낙원동),서울특별시 종로구 낙원동 288 낙원상가
4,(주)동아서울시네마,02-745-4231,서울특별시 종로구 삼일대로 428 (낙원동),서울특별시 종로구 낙원동 288 낙원상가
5,(주)트랜스코스모스코리아종로센터,02-790-8971,"서울특별시 종로구 창경궁로 120, 종로플레이스 4층 (인의동)",서울특별시 종로구 인의동 28-2 종로플레이스 4층
...,...,...,...,...
298,혜화동주민센터,02-2148-5333,서울특별시 종로구 혜화로 12,서울특별시 종로구 혜화동 74-30 혜화동주민센터
299,혜화역(4호선),02-6110-4201,서울특별시 종로구 대학로 120,서울특별시 종로구 동숭동 1-27
300,혜화파출소,02-762-0811,서울특별시 종로구 창경궁로 279,서울특별시 종로구 혜화동 92-1 혜화파출소
301,황학정국궁전시관,02-722-1600,서울특별시 종로구 사직로9길 15-32 황학정 국궁전시관,서울특별시 종로구 사직동 산1-1
302,효제파출소,02-762-8485,서울특별시 종로구 종로41나길 24-6,서울특별시 종로구 종로6가 238-16 서울혜화경찰서 효제파출소

In [13]:
def getByPhoneNumber(number):
    df = pd.read_csv('aed.csv', encoding='euc-kr', index_col='NO')
    row = df[df['전화번호']==number]
    if row.empty :
        print('없는 전화 번호')
    else:
        print(row)

In [14]:
getByPhoneNumber('02-762-8485')

      설치장소         전화번호                  도로명주소  \
NO
302  효제파출소  02-762-8485  서울특별시 종로구 종로41나길 24-6

                                    지번주소
NO
302  서울특별시 종로구 종로6가 238-16 서울혜화경찰서 효제파출소

In [15]:
getByPhoneNumber('134324')

없는 전화 번호

In [18]:
df['전화번호']

NO
1       02-738-7799
2       02-745-4231
3       02-745-4231
4       02-745-4231
5       02-790-8971
           ...
298    02-2148-5333
299    02-6110-4201
300     02-762-0811
301     02-722-1600
302     02-762-8485
Name: 전화번호, Length: 302, dtype: object

In [19]:
df['전화번호']=='02-762-8485'

NO
1      False
2      False
3      False
4      False
5      False
       ...
298    False
299    False
300    False
301    False
302     True
Name: 전화번호, Length: 302, dtype: bool

In [25]:
df[df['전화번호'].str.contains('02-745').fillna(False)]

,설치장소,전화번호,도로명주소,지번주소
NO,,,,
2,(주)동아서울시네마,02-745-4231,서울특별시 종로구 삼일대로 428 (낙원동),서울특별시 종로구 낙원동 288 낙원상가
3,(주)동아서울시네마,02-745-4231,서울특별시 종로구 삼일대로 428 (낙원동),서울특별시 종로구 낙원동 288 낙원상가
4,(주)동아서울시네마,02-745-4231,서울특별시 종로구 삼일대로 428 (낙원동),서울특별시 종로구 낙원동 288 낙원상가
181,올림픽기념국민생활관,02-745-6701,서울특별시 종로구 성균관로 91 (혜화동),서울특별시 종로구 혜화동 1-21 국민생활관
182,올림픽기념국민생활관,02-745-6701,서울특별시 종로구 성균관로 91 (혜화동),서울특별시 종로구 혜화동 1-21 국민생활관
183,올림픽기념국민생활관,02-745-6701,서울특별시 종로구 성균관로 91 (혜화동),서울특별시 종로구 혜화동 1-21 국민생활관
224,종로구정신건강증진센터,02-745-0199,서울특별시 종로구 성균관로15길 10,서울특별시 종로구 명륜1가 5-14 명륜1가공영주차장

2. excel 다운 파일 분석

In [60]:
df = pd.read_excel('서울교통현황.xlsx', engine='openpyxl') 
df[:30]

   대중교통구분  노선명      년월    승차총승객수
0     지하철  1호선  201711   8633618
1     지하철  1호선  201712   8737235
2     지하철  1호선  201801   8145989
3     지하철  1호선  201802   7273309
4     지하철  1호선  201803   8692551
5     지하철  1호선  201804   8275767
6     지하철  1호선  201805   8543247
7     지하철  1호선  201806   7972991
8     지하철  1호선  201807   8150061
9     지하철  1호선  201808   7930624
10    지하철  1호선  201809   7876712
11    지하철  1호선  201810   8783242
12    지하철  1호선  201811   8692924
13    지하철  1호선  201812   8686311
14    지하철  1호선  201901   8591419
15    지하철  1호선  201902   7356277
16    지하철  1호선  201903   8684841
17    지하철  1호선  201904   8594542
18    지하철  1호선  201905   8848275
19    지하철  2호선  201711  47310952
20    지하철  2호선  201712  48288516
21    지하철  2호선  201801  45887302
22    지하철  2호선  201802  40241730
23    지하철  2호선  201803  49033111
24    지하철  2호선  201804  47273448
25    지하철  2호선  201805  48249398
26    지하철  2호선  201806  45485568
27    지하철  2호선  201807  47356791
28    지하철  2호선  201808  45610483
29    지하철  2호선  201809  42607084

In [61]:
y = df.pivot_table(index=['년월', '노선명'])
y

                승차총승객수
년월     노선명
201711 1호선     8633618
       2호선    47310952
       3호선    17545987
       4호선    18419611
       5호선    18656464
...                ...
201905 인천1호선   6672033
       인천2호선   3725189
       일산선     3824620
       장항선      561886
       중앙선     3363372

[601 rows x 1 columns]

In [79]:
x = df.pivot(index='년월', columns='노선명', values='승차총승객수')
x

노선명,1호선,2호선,3호선,4호선,5호선,6호선,7호선,8호선,9호선,9호선2~3단계,...,신분당선,안산선,용인에버라인,우이신설선,의정부경전철,인천1호선,인천2호선,일산선,장항선,중앙선
년월,,,,,,,,,,,,,,,,,,,,,
201711,8633618.0,47310952.0,17545987.0,18419611.0,18656464.0,11132866.0,22072213.0,5653701.0,8212931.0,1250735.0,...,2050195.0,4129259.0,618791.0,1181277.0,999887.0,6197885.0,3095605.0,3477869.0,515450.0,3089935.0
201712,8737235.0,48288516.0,17673756.0,18566142.0,18782771.0,11027361.0,21821835.0,5723547.0,8048476.0,1265416.0,...,2038939.0,4024103.0,584174.0,1162590.0,991726.0,6206436.0,3100523.0,3520376.0,472877.0,2970607.0
201801,8145989.0,45887302.0,16533633.0,16804039.0,17821984.0,10132175.0,20808681.0,5451091.0,7808855.0,1209854.0,...,2017810.0,3679368.0,510582.0,1115985.0,923557.0,5707794.0,2920783.0,3227773.0,397622.0,2689740.0
201802,7273309.0,40241730.0,14667088.0,14866104.0,15512971.0,9006419.0,18321937.0,4772563.0,6834393.0,1042233.0,...,1757952.0,3291394.0,469841.0,1020053.0,840383.0,5127939.0,2600793.0,2875458.0,364510.0,2428190.0
201803,8692551.0,49033111.0,17964288.0,18869501.0,19241969.0,11496844.0,22747349.0,5905182.0,8281299.0,1247175.0,...,2079797.0,4246190.0,664818.0,1315328.0,1058708.0,6461234.0,3317713.0,3561712.0,542284.0,3138558.0
201804,8275767.0,47273448.0,17428342.0,18168382.0,18973480.0,11108151.0,22251248.0,5793719.0,8289982.0,1219429.0,...,2005855.0,4235529.0,666028.0,1285479.0,1043013.0,6254065.0,3336808.0,3471650.0,516285.0,3110133.0
201805,8543247.0,48249398.0,17910425.0,18737401.0,19264990.0,11567943.0,22847200.0,5916680.0,8267466.0,1250901.0,...,2036580.0,4321482.0,736844.0,1362035.0,1095397.0,6533132.0,3404656.0,3694115.0,546938.0,3259622.0
201806,7972991.0,45485568.0,16764209.0,17398734.0,18014833.0,10602634.0,21242129.0,5523152.0,7826524.0,1205295.0,...,1955734.0,3990860.0,664427.0,1262314.0,1038364.0,6055539.0,3235633.0,3367520.0,465508.0,3005241.0
201807,8150061.0,47356791.0,17146429.0,17132221.0,18276689.0,10632495.0,21467155.0,5630084.0,8149485.0,1338918.0,...,2087749.0,3845355.0,656141.0,1259765.0,1033396.0,5985743.0,3219280.0,3424759.0,396597.0,2965603.0
201808,7930624.0,45610483.0,16562841.0,16336896.0,17600571.0,10229063.0,20765978.0,5445725.0,7884945.0,1295631.0,...,1984894.0,3725432.0,627058.0,1222945.0,975680.0,5729269.0,3072128.0,3346516.0,399577.0,2869230.0
201809,7876712.0,42607084.0,16029202.0,16178231.0,16833876.0,10185000.0,20102943.0,5176534.0,7393374.0,1109463.0,...,1839453.0,3853442.0,664197.0,1249766.0,987796.0,5815947.0,3090506.0,3258215.0,480939.0,2940081.0
201810,8783242.0,48343358.0,18028183.0,18515346.0,19277024.0,11811629.0,22709438.0,5973011.0,8401438.0,1295541.0,...,2144780.0,4244828.0,756895.0,1400225.0,1109088.0,6451713.0,3504677.0,3628839.0,523180.0,3250757.0
201811,8692924.0,48332253.0,17956555.0,18296441.0,19113549.0,11286820.0,22594694.0,5944278.0,8371558.0,1344562.0,...,2170611.0,4127975.0,745732.0,1366119.0,1072441.0,6372583.0,3388645.0,3568468.0,525677.0,3141015.0
201812,8686311.0,47703690.0,17504336.0,18073002.0,18484816.0,10938420.0,21729775.0,5786610.0,8323283.0,2295575.0,...,2071984.0,3930263.0,684228.0,1301315.0,1036331.0,6182630.0,3285307.0,3460292.0,470318.0,2921988.0
201901,8591419.0,46899828.0,17105248.0,17024286.0,18286102.0,10439337.0,21451866.0,5738366.0,8282107.0,2306314.0,...,2180780.0,3738805.0,643464.0,1263643.0,1016354.0,5917244.0,3210965.0,3384893.0,409923.0,2799510.0
201902,7356277.0,39681521.0,14669107.0,14674440.0,15446522.0,8930481.0,18303459.0,4882939.0,7036592.0,1967867.0,...,1786261.0,3286427.0,565681.0,1102109.0,908728.0,5155354.0,2797143.0,2935191.0,374659.0,2452381.0
201903,8684841.0,48049524.0,17768056.0,18307557.0,18834177.0,11313594.0,22454521.0,5999692.0,8481055.0,2433763.0,...,2113973.0,4148330.0,750035.0,1402393.0,1089564.0,6352570.0,3454249.0,3537142.0,543853.0,3127966.0
201904,8594542.0,48093446.0,17839508.0,18261165.0,19439028.0,11276357.0,22872658.0,6132746.0,8843721.0,2515796.0,...,2152781.0,4230809.0,784782.0,1403115.0,1106317.0,6417388.0,3671729.0,3608124.0,535901.0,3198267.0
201905,8848275.0,49356486.0,18368138.0,18892269.0,19767410.0,11707933.0,23561337.0,6255062.0,8767212.0,2643570.0,...,2188387.0,4394656.0,844987.0,1469681.0,1181289.0,6672033.0,3725189.0,3824620.0,561886.0,3363372.0

In [83]:
x[['1호선','2호선','3호선','4호선']]

노선명           1호선         2호선         3호선         4호선
년월
201711  8633618.0  47310952.0  17545987.0  18419611.0
201712  8737235.0  48288516.0  17673756.0  18566142.0
201801  8145989.0  45887302.0  16533633.0  16804039.0
201802  7273309.0  40241730.0  14667088.0  14866104.0
201803  8692551.0  49033111.0  17964288.0  18869501.0
201804  8275767.0  47273448.0  17428342.0  18168382.0
201805  8543247.0  48249398.0  17910425.0  18737401.0
201806  7972991.0  45485568.0  16764209.0  17398734.0
201807  8150061.0  47356791.0  17146429.0  17132221.0
201808  7930624.0  45610483.0  16562841.0  16336896.0
201809  7876712.0  42607084.0  16029202.0  16178231.0
201810  8783242.0  48343358.0  18028183.0  18515346.0
201811  8692924.0  48332253.0  17956555.0  18296441.0
201812  8686311.0  47703690.0  17504336.0  18073002.0
201901  8591419.0  46899828.0  17105248.0  17024286.0
201902  7356277.0  39681521.0  14669107.0  14674440.0
201903  8684841.0  48049524.0  17768056.0  18307557.0
201904  8594542.0  48093446.0  17839508.0  18261165.0
201905  8848275.0  49356486.0  18368138.0  18892269.0

In [84]:
x[['1호선','2호선','3호선','4호선']].sum(axis=1)

년월
201711    91910168.0
201712    93265649.0
201801    87370963.0
201802    77048231.0
201803    94559451.0
201804    91145939.0
201805    93440471.0
201806    87621502.0
201807    89785502.0
201808    86440844.0
201809    82691229.0
201810    93670129.0
201811    93278173.0
201812    91967339.0
201901    89620781.0
201902    76381345.0
201903    92809978.0
201904    92788661.0
201905    95465168.0
dtype: float64

In [85]:
x[['1호선','2호선','3호선','4호선']].sum(axis=0)

노선명
1호선    158469935.0
2호선    883804489.0
3호선    325465331.0
4호선    333521768.0
dtype: float64

3. 웹 데이터 처리  
3-1. html파일 읽기

In [88]:
html = requests.get('https://www.melon.com/chart/', headers={'User-agent': 'Mozilla/5.0'}).text  
root = BeautifulSoup(html, 'html.parser') #돔객체 생성